{% url 'product:list' as product_list %}
{% url 'buy:buy-list' as buy_list %}

<style type="text/css">
	.dropdown-submenu {
  position: relative;
}

.dropdown-submenu a::after {
  transform: rotate(-90deg);
  position: absolute;
  right: 6px;
  top: .8em;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: .1rem;
  margin-right: .1rem;
}
</style>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="container">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarTogglerDemo01">
		    <a class="navbar-brand" href="/">StockAdmin2</a>
		    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle {% if product_list in request.path %}active{% endif %}" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					제품정보
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
					<a class="dropdown-item" href="{{ product_list }}">제품목록</a>
					<a class="dropdown-item" href="#">메뉴2</a>
					<a class="dropdown-item" href="#">메뉴3</a>
					</div>
				</li>
		   		<li class="nav-item dropdown">
			        <a class="nav-link dropdown-toggle {% if buy_list in request.path %}active{% endif %}" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			          구매/입고
			        </a>
			        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
			          <li class="dropdown-submenu">
			          	<a class="dropdown-item dropdown-toggle" href="#">구매</a>
			            <ul class="dropdown-menu">
			              <li><a class="dropdown-item" href="{% url 'buy:buy-cart' %}">구매품목입력</a></li>
			              <li><a class="dropdown-item" href="{{ buy_list }}">구매요청서목록</a></li>
			            </ul>
			          </li>
			          <li class="dropdown-submenu">
			          	<a class="dropdown-item dropdown-toggle" href="#">입고</a>
			            <ul class="dropdown-menu">
			              <li><a class="dropdown-item" href="#">입고잡기</a></li>
			              <li><a class="dropdown-item" href="#">입고내역(수정)</a></li>
			            </ul>
			          </li>
			        </ul>
				</li>
		    </ul>
		    <form class="form-inline my-2 my-lg-0">
		      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
		      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
		    </form>
		</div>
	</div>
</nav>
<script type="text/javascript">
	$('.dropdown-menu a.dropdown-toggle').on('click', function(e) {
  if (!$(this).next().hasClass('show')) {
    $(this).parents('.dropdown-menu').first().find('.show').removeClass("show");
  }
  var $subMenu = $(this).next(".dropdown-menu");
  $subMenu.toggleClass('show');


  $(this).parents('li.nav-item.dropdown.show').on('hidden.bs.dropdown', function(e) {
    $('.dropdown-submenu .show').removeClass("show");
  });
  return false;
});
</script>