{% load static %}
<link rel="stylesheet" type="text/css" href="{% static "bootstrap-4.0.0-beta.2-dist/css/bootstrap.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "jquery-ui-1.12.1/jquery-ui.min.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "tablesorter/themes/blue/style.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "font-awesome-4.7.0/css/font-awesome.min.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/common.css" %}">
    
<script src="{% static "jquery/jquery-3.2.1.min.js" %}"></script>
<script src="{% static "bootstrap-4.0.0-beta.2-dist/js/bootstrap.bundle.min.js" %}"></script>
<script src="{% static "jquery-ui-1.12.1/jquery-ui.min.js" %}"></script>
<script src="{% static "tablesorter/jquery.tablesorter.min.js" %}"></script>
<script src="{% static "tablesorter/addons/pager/jquery.tablesorter.pager.js" %}"></script>
<script src="{% static "js/common.js" %}"></script>
<script src="{% static "js/grid-table.js" %}"></script>