{% extends "buy/buy_base.html" %}
{% load humanize %}

{% block buy_header %}
<div class="col-12">
<h4>구매요청서 상세</h4>
</div>
{% endblock buy_header %}

{% block buy_content %}
<div class="col-12">
        <div class="row px-3">
        <div class="col-8">
            거래처: {{ object.buyitem_set.first.buyinfo.market }}</br>
            구매번호: {{ object.slug }}<br>
            구매건수: {{ object.buyitem_set.all|length }}건 <br>
            총구매액: {{ object.get_total_price_sum|intcomma }}     
        </div>
        <div class="col-4">
            <table class="table table-bordered table-sm h-100 text-center">
                <thead>
                    <tr>
                        <td>담당자</td>
                        <td>발주승인</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="align-middle">{{ request.user }}</td>
                        <td class="align-middle"> {{ object.commiter|default:"" }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>   
</div>
<div class="text-right">
</div>
    <table class="table-bordered tablesorter tablesorter-sortable">
        <thead class="thead-default text-center">
            <tr>
                <th>연번</th>
                <th>판매사</th>
                <th>구매항목</th>
                <th>구매수량</th>
                <th>현재입고량</th>
                <th>입고율</th>
                <th>비고</th>
            </tr>
        </thead>
        <tbody>
            {% for item in object.buyitem_set.all %}
            <tr>
                <td class="text-center">{{ forloop.counter }}</td>
                <td>{{ item.buyinfo.product.company }} </td>
                <td>{{ item.buyinfo.product }}</td>
                <td class="text-right">{{ item.amount|intcomma }} {{ item.buyinfo.product.std_unit }}</td>
                <td class="text-right">{{ item.get_stocked_sum }}</td>
                <td>
                    <div class="progress">
                        <div class="progress-bar bg-success" style="width:{{ item.stocked_percent }}%;"></div>
                        {% if item.isend %}
                        <div class="progress-bar bg-danger" style="width:{{ item.ended_percent }}%"></div>
                        {% endif %}
                    </div>
                </td>
                <td>{{ item.comment }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="col-12 text-right">
        <button class="btn btn-secondary btn-sm" onclick="printArea('.print-area')">출력<i class="fa fa-print" aria-hidden="true"></i>
</button>
        <a class="btn btn-info btn-sm" href="{% url 'buy:buy-list' %}">목록으로</a>
        {% if object.commiter %}
            {% if object.has_stockset %}
                <button class="btn btn-danger btn-sm disabled">구매요청서 삭제</button>
            {% else %}
                {% url 'buy:buy-delete' object.slug as delete_url %}
                {% include "components/delete_confirm_button.html" with button_name="구매요청서 삭제" modal_id="modal-buy-delete" action=delete_url %}
            {% endif %}
        {% else %}
        <a class="btn btn-warning btn-sm" href="{% url 'buy:buy-update' object.slug %}">구매내역 수정</a>
            {% if user.is_staff %}
            {% include "buy/components/buy_confirm_modal.html" %}
            {% endif %}
        {% endif %}
    </div>

    <div class="print-area">
        {% include "buy/components/print/buy_detail_print.html" %}
    </div>

{% endblock buy_content %}