{% extends "buy/buy_base.html" %}
{% load humanize %}
{% block extra_style %}
    {{ formset.0.media }}
{% endblock %}
{% block buy_header %}
<h4>구매요청서 상세</h4>
{% endblock buy_header %}

{% block buy_content %}
<div class="col-12 my-3">
    도매상: {{ form.instance.buyitem_set.first.buyinfo.market }}</br>
    구매번호: {{ form.instance.slug }}
    </div>
<hr>
<div class="col-12">
    

<form method="post" action=".">  
    <table class="table-bordered tablesorter tablesorter-sortable">
        {% csrf_token %}
        <thead class="thead-default text-center">
            <tr>
                <th>연번</th>
                <th>판매사</th>
                <th>구매항목</th>
                <th>구매수량</th>
                <th>입고량</th>
                <th>입고율</th>
                <th>비고</th>
            </tr>
        </thead>
        {{ formset.management_form }}
        <tbody>
            {% for buyitem_form in formset %}
            {% for hidden in buyitem_form.hidden_fields %} {{ hidden }} {% endfor %}
            <tr>
                <td class="text-center">{{ forloop.counter }}</td>
                <td>{{ buyitem_form.instance.buyinfo.product.company }} </td>
                {% if not forloop.last %}
                <td>
                    {{ buyitem_form.instance.buyinfo }}{{ buyitem_form.buyinfo }}
                </td>
                {% else %}
                <td>{{ buyitem_form.buyinfo }}</td>
                {% endif %}
                <td>{{ buyitem_form.amount }}</td>
                <td>{{ buyitem_form.instance.get_stocked_sum }}</td>
                <td>
                    <div class="progress">
                        <div class="progress-bar bg-success" style="width:{{ item.stocked_percent }}%;"></div>
                        {% if item.end %}
                        <div class="progress-bar bg-danger" style="width:{{ item.ended_percent }}%"></div>
                        {% endif %}
                    </div>
                </td>
                <td>{{ buyitem_form.comment }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="col-12 text-right">
        <button class="btn btn-success btn-sm">저장</button>
    </div>
</form>
</div>

{% endblock buy_content %}