{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="col-12 my-3">
    {% block buy_header %}{% endblock buy_header %}
    </div>
    <div class="col-12">
    {% block buy_content %}{% endblock buy_content %}
    </div>
</div>

{% block extra_scrip %}
<script type="text/javascript">
$(function(){

    $('input[name$=amount]').change(function(event){
        tr = $(this).parents('tr')
        var chk_delelete = tr.find('input[name*=DELETE]')
        var checked = $(this).val() == 0 || $(this).val() === ''
        chk_delelete.prop('checked', checked)
    })
    
    checkSync('.check-master', 'input[name*=selected]')

})
</script>
{% endblock extra_scrip %}
{% endblock content %}