{% extends "buy/buy_base.html" %}
{% load humanize %}
{% block extra_style %}
    {{ formset.0.media }}
{% endblock %}
{% block buy_header %}
<h4>구매내역 수정</h4>
{% endblock buy_header %}

{% block buy_content %}
<div class="col-12 my-3">
    도매상: {{ form.instance.buyitem_set.first.buyinfo.market }}</br>
    구매번호: {{ form.instance.slug }}
</div>
<hr>
<div class="col-12">
    
<form method="post" action=".">
    <div hidden>
    {{ form }}
    </div>
    <table class="table-bordered tablesorter tablesorter-sortable">
        {% csrf_token %}
        <thead class="thead-default text-center">
            <tr>
                <th><input type="checkbox" class="check-master"></th>
                <th>판매사</th>
                <th>구매항목</th>
                <th>구매수량</th>
                <th>비고</th>
            </tr>
        </thead>
        {{ formset.management_form }}
        <tbody>
            {% for buyitem_form in formset %}
            {% for hidden in buyitem_form.hidden_fields %} {{ hidden }} {% endfor %}
            <tr>
                {% if forloop.last %}
                <td></td>
                {% else %}
                <td class="text-center">{{ buyitem_form.selected }}</td>
                {% endif %}
                <td>{{ buyitem_form.instance.buyinfo.product.company }} </td>
                {% if not forloop.last %}
                <td>
                    {{ buyitem_form.instance.buyinfo }}{{ buyitem_form.buyinfo }}
                </td>
                {% else %}
                <td>{{ buyitem_form.buyinfo }}{{ buyitem_form.buyinfo_name }}</td>
                {% endif %}
                <td>{{ buyitem_form.amount }}</td>
                <td>{{ buyitem_form.comment }}</td>
                <td hidden>{{ buyitem_form.DELETE }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="col-12 text-right">
        <a class="btn btn-info btn-sm" href="{{ object.get_absolute_url }}">돌아가기</a>
        <button class="btn btn-success btn-sm">저장/선택항목되돌리기</button>
    </div>
</form>
</div>
{% block extra_scrip %}
{{ block.super }}
{% if object.buyitem_set.exists %}
    {% url 'core:autocomplete:api-buyinfo-market' object.buyitem_set.first.buyinfo.market.id as autocomplete_url %}
{% else %}
    {% url 'core:autocomplete:api-buyinfo' as autocomplete_url %}
{% endif %}
{% include "autocomplete/buyinfo_autocomplete_script.html" with url=autocomplete_url %}
{% endblock extra_scrip %}

{% endblock buy_content %}





