{% extends "buy/buy_base.html" %}

{% block buy_header %}
<div class="col-12">
    
<h4>구매요청서 목록</h4>
</div>
{% endblock buy_header %}

{% block buy_content %}
<div class="col-12">    
<div class="text-right my-3">
    <a class="btn btn-secondary btn-sm" href="{% url 'buy:buy-cart' %}">품목입력하러가기</a>   
    <a class="btn btn-secondary btn-sm" href="{% url 'buy:buy-cart' %}">품목입력하러가기<i class="fa fa-pencil" aria-hidden="true"></i>
</a>   
</div>
    <table class="table table-hover table-bordered table-sm">
        <thead class="thead-dark text-center">
            <tr>
                <th>구매번호</th>
                <th>요약</th>
                <th>완료율</th>
                <th>승인</th>
            </tr>
        </thead>
        <tbody>
            {% for object in object_list %}
            <tr>
                <td class="text-center">{{ object.slug }}</td>
                <td><a href="{{ object.get_absolute_url }}">{{ object.description }}</a></td>
                <td class="text-center">{{ object.completed_percent }}%</td>
                <td class="text-center">{{ object.commiter|default:"미승인" }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock buy_content %}