{% extends "buy/buy_base.html" %}
{% load humanize %}
{% load widget_tweaks %}
{% block extra_style %}
    {# {{ formset.0.media }} #}
{% endblock %}
{% block buy_header %}
<h4>구매품목 입력</h4>
{% endblock buy_header %}

{% block buy_content %}

<div class="col-12">
    

<form id="cart-form" method="post" action=".">
    <div class=".datepicker">
    <label for="{{ form.date.id_for_label }}" class="col-form-label">구매일자지정:</label>
    {% render_field form.date class="form-control-sm datepicker" readonly="true" %}
    </div>
    <table class="table table-bordered table-hover table-sm table-condensed">
        {% csrf_token %}
        <thead class="thead-default text-center">
            <tr>
                <th><input type="checkbox" class="check-master"></th>
                <th>판매사</th>
                <th>구매항목</th>
                <th>구매수량</th>
                <th>비고</th>
            </tr>
        </thead>
        {{ formset.management_form }}
        <tbody>
            {% for buyitem_form in formset %}
            {% for hidden in buyitem_form.hidden_fields %} {{ hidden }} {% endfor %}
            <tr>
                {% if forloop.last %}
                <td></td>
                {% else %}
                <td class="text-center">{{ buyitem_form.selected }}</td>
                {% endif %}
                <td class="text-center">{{ buyitem_form.instance.buyinfo.product.company }} </td>
                {% if not forloop.last %}
                <td>
                    {{ buyitem_form.instance.buyinfo }}{{ buyitem_form.buyinfo }}
                </td>
                {% else %}
                <td>{{ buyitem_form.buyinfo }}{{ buyitem_form.buyinfo_name }}</td>
                {% endif %}
                <td>{{ buyitem_form.amount }}</td>
                <td>{{ buyitem_form.comment }}</td>
                <td hidden>{{ buyitem_form.DELETE }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="col-12 text-right">
        <a class="btn btn-info btn-sm" href="{% url 'buy:buy-list' %}">구매요청서목록</a>
        <button class="btn btn-success btn-sm">선택항목구매/저장</button>
    </div>
</form>
</div>

{% block extra_scrip %}
{{ block.super }}
{% url 'core:autocomplete:api-buyinfo' as autocomplete_url %}
{% include "autocomplete/buyinfo_autocomplete_script.html" with url=autocomplete_url %}
{% endblock extra_scrip %}

{% endblock buy_content %}





